<?xml version="1.0"?>
<robot name="racecar" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Define the parameters for the car -->
  <xacro:arg name="wheel_radius" default="0.05" />
  <xacro:arg name="wheel_separation" default="0.32" />
  <xacro:arg name="wheelbase" default="0.235" />
  <xacro:arg name="wheel_width" default="0.045"/>
  <xacro:arg name="chassis_mass" default="1.0" />
  <xacro:arg name="wheel_mass" default="0.3" />
  <xacro:arg name="steering_hinge_mass" default="0.1" />
  <xacro:property name="wheel_radius" value="$(arg wheel_radius)" />
  <xacro:property name="wheel_separation" value="$(arg wheel_separation)" />
  <xacro:property name="wheelbase" value="$(arg wheelbase)" />
  <xacro:property name="wheel_width" value="$(arg wheel_width)" />
  <xacro:property name="chassis_mass" value="$(arg chassis_mass)" />
  <xacro:property name="wheel_mass" value="$(arg wheel_mass)" />
  <xacro:property name="steering_hinge_mass" value="$(arg steering_hinge_mass)" />

<!-- chassis geometry-->
<xacro:macro name="chassis_geometry">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <geometry>
    <mesh filename="package://car_description/meshes/chassis.stl" scale="0.001 0.001 0.001"/>
  </geometry>
  <material name="red" />
</xacro:macro>

<!-- wheels geometry-->
<xacro:macro name="wheel_geometry" params="prefix">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <geometry>
    <mesh filename="package://car_description/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
  </geometry>
  <material name="black" />
</xacro:macro>

<!-- wheels geometry collision-->
<xacro:macro name="wheel_collision_geometry">
    <geometry>
      <cylinder length="${wheel_width}" radius="${wheel_radius}" />
    </geometry>
</xacro:macro>


<!-- steering hinge geometry -->
<xacro:macro name="steering_hinge_geometry" params="prefix">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <geometry>
    <mesh filename="package://car_description/meshes/steering_hinge.stl" scale="0.001 0.001 0.001"/>
  </geometry>
  <material name="grey" />
</xacro:macro>

<!-- inertial parameter macros -->

<xacro:macro name="chassis_inertial_params">
  <origin xyz="0 0 0" rpy="0 0 0" />
  <mass value="${chassis_mass}" />
  <inertia  ixx="0.1" ixy="0"  ixz="0"
            iyy="0.1" iyz="0"  izz="0.1" />
</xacro:macro>

<xacro:macro name="wheels_inertial_params" params="z_offset">
  <origin xyz="0 0 ${z_offset}" rpy="0 0 0" />
  <mass value="${wheel_mass}" />
  <inertia  ixx="0.1" ixy="0"  ixz="0"
            iyy="0.1" iyz="0"  izz="0.1" />
</xacro:macro>

<xacro:macro name="steering_hinge_inertial_params" params="z_offset">
  <origin xyz="0 0 ${z_offset}" rpy="0 0 0" />
  <mass value="${steering_hinge_mass}" />
  <inertia  ixx="0.1" ixy="0"  ixz="0"
            iyy="0.1" iyz="0"  izz="0.1" />
</xacro:macro>

</robot>
